openapi: 3.1.0

info:
  title: Lumo Task API
  version: 1.0.0
  description: |
    REST API specification for the Lumo Task backend.

    **⚠️ Source of truth is moving.** The authoritative contract is being migrated
    to Zod schemas in `@lumo/contracts`, from which the live spec is generated and
    served by the backend at `GET /docs/openapi.json` (Swagger UI at `/docs`). The
    `Task` schema below is already generated from the contract; remaining schemas
    are still hand-maintained here and will be replaced domain-by-domain. When this
    file and the generated spec disagree, the generated spec wins.

    The frontend (`web-app/src/api/client.ts`) talks to the real Hono/SQLite
    backend; configure it with `VITE_API_BASE=<url>`.

    **Authentication**: All endpoints except `/auth/*` require a Bearer token in the
    `Authorization` header.

    **Locale**: Clients may send `Accept-Language: en` or `Accept-Language: zh`.
    Endpoints that return `LocalizedString` objects always include `en` and
    optionally `zh`; the client resolves which to display.

    **Response shape**: Responses are **flat** — single resources are returned as
    bare objects and list endpoints return **bare JSON arrays** (no `data`/`items`
    envelope). The `PaginatedTasks` / `PaginatedCompleted` envelopes described below
    are historical and do not match the current implementation; treat them as flat
    arrays until those domains are migrated to the generated contract.

servers:
  - url: https://api.lumotask.app/v1
    description: Production
  - url: https://staging-api.lumotask.app/v1
    description: Staging
  - url: http://localhost:8080/v1
    description: Local development

tags:
  - name: auth
    description: Authentication and session management
  - name: tasks
    description: Task CRUD and lifecycle
  - name: completed
    description: Completed task log
  - name: people
    description: Team members / assignees
  - name: ai
    description: AI-powered task intelligence (classify, recommend, parse)
  - name: focus
    description: Pomodoro focus sessions
  - name: settings
    description: User preferences and app configuration

# ─────────────────────────────────────────────────────────────────────────────
# Paths
# ─────────────────────────────────────────────────────────────────────────────

paths:

  # ── Auth ────────────────────────────────────────────────────────────────────

  /auth/signin:
    post:
      tags: [auth]
      operationId: signIn
      summary: Sign in with email and password
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email, password]
              properties:
                email:
                  type: string
                  format: email
                password:
                  type: string
                  minLength: 4
      responses:
        "200":
          description: Authenticated successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/User"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "422":
          $ref: "#/components/responses/ValidationError"

  /auth/signin/provider:
    post:
      tags: [auth]
      operationId: signInWithProvider
      summary: Sign in via OAuth provider
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [provider, token]
              properties:
                provider:
                  type: string
                  enum: [google, apple, github]
                token:
                  type: string
                  description: OAuth identity token from the provider SDK
      responses:
        "200":
          description: Authenticated successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/User"
        "401":
          $ref: "#/components/responses/Unauthorized"

  /auth/register:
    post:
      tags: [auth]
      operationId: register
      summary: Register a new account
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email, password, confirm]
              properties:
                email:
                  type: string
                  format: email
                password:
                  type: string
                  minLength: 6
                confirm:
                  type: string
                  description: Must match `password`
                nickname:
                  type: string
                  description: Display name (falls back to email prefix if omitted)
      responses:
        "201":
          description: Account created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/User"
        "409":
          description: Email already registered
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "422":
          $ref: "#/components/responses/ValidationError"

  /auth/change-password:
    post:
      tags: [auth]
      operationId: changePassword
      summary: Change the authenticated user's password
      description: |
        Requires the user's current password for verification before setting a
        new one. All existing sessions remain valid after the change (no forced
        re-login on other devices — single-device model).
      security:
        - sessionCookie: []
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [current_password, new_password, confirm_password]
              properties:
                current_password:
                  type: string
                  description: The user's existing password for verification
                new_password:
                  type: string
                  minLength: 8
                  description: The desired new password
                confirm_password:
                  type: string
                  description: Must exactly match `new_password`
      responses:
        "200":
          description: Password changed successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: "Password updated successfully."
        "401":
          description: Current password is incorrect
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "422":
          $ref: "#/components/responses/ValidationError"

  /auth/signout:
    post:
      tags: [auth]
      operationId: signOut
      summary: End the current session
      security:
        - sessionCookie: []
        - bearerAuth: []
      responses:
        "200":
          description: Session ended; returns the local-only user placeholder
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/User"

  # ── Current User ─────────────────────────────────────────────────────────────

  /user:
    get:
      tags: [auth]
      operationId: getUser
      summary: Get the currently authenticated user
      security:
        - sessionCookie: []
        - bearerAuth: []
      responses:
        "200":
          description: Current user profile
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/User"
        "401":
          $ref: "#/components/responses/Unauthorized"

  # ── Tasks ────────────────────────────────────────────────────────────────────

  /tasks:
    get:
      tags: [tasks]
      operationId: listTasks
      summary: List all tasks (active, not completed)
      security:
        - sessionCookie: []
        - bearerAuth: []
      parameters:
        - $ref: "#/components/parameters/LimitParam"
        - $ref: "#/components/parameters/OffsetParam"
        - name: quadrant
          in: query
          schema:
            $ref: "#/components/schemas/Quadrant"
          description: Filter by quadrant
        - name: today
          in: query
          schema:
            type: boolean
          description: When true, return only tasks in today's plan
        - name: assignee_id
          in: query
          schema:
            type: string
          description: Filter by assignee person ID
      responses:
        "200":
          description: Paginated task list
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaginatedTasks"

    post:
      tags: [tasks]
      operationId: createTask
      summary: Create a new task
      security:
        - sessionCookie: []
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/TaskCreate"
      responses:
        "201":
          description: Task created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Task"
        "422":
          $ref: "#/components/responses/ValidationError"

  /tasks/{id}:
    parameters:
      - $ref: "#/components/parameters/TaskId"

    get:
      tags: [tasks]
      operationId: getTask
      summary: Get a single task by ID
      security:
        - sessionCookie: []
        - bearerAuth: []
      responses:
        "200":
          description: Task object
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Task"
        "404":
          $ref: "#/components/responses/NotFound"

    patch:
      tags: [tasks]
      operationId: updateTask
      summary: Partially update a task
      description: |
        Accepts any subset of Task fields. Fields not included are left unchanged.
        Use this for: editing title/quadrant/due/duration, toggling `today`,
        updating `pomos_done`, changing `assignee_id`.
      security:
        - sessionCookie: []
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/TaskPatch"
      responses:
        "200":
          description: Updated task
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Task"
        "404":
          $ref: "#/components/responses/NotFound"
        "422":
          $ref: "#/components/responses/ValidationError"

    delete:
      tags: [tasks]
      operationId: deleteTask
      summary: Permanently delete a task
      security:
        - sessionCookie: []
        - bearerAuth: []
      responses:
        "204":
          description: Deleted successfully
        "404":
          $ref: "#/components/responses/NotFound"

  /tasks/{id}/complete:
    parameters:
      - $ref: "#/components/parameters/TaskId"

    post:
      tags: [tasks]
      operationId: completeTask
      summary: Mark a task as complete
      description: |
        Transitions the task to `completed: true` and creates a CompletedEntry
        log record. The task is removed from the active list but preserved for
        the completion log.
      security:
        - sessionCookie: []
        - bearerAuth: []
      responses:
        "200":
          description: Completion log entry
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CompletedEntry"
        "404":
          $ref: "#/components/responses/NotFound"

    delete:
      tags: [tasks]
      operationId: uncompleteTask
      summary: Reopen a completed task (undo complete)
      description: |
        Removes the CompletedEntry log record and restores the task to active
        (`completed: false`). The `{id}` path parameter is the **CompletedEntry
        log ID** (returned by `POST /tasks/{id}/complete`), not the task ID.

        Implementation note: look up the CompletedEntry by `id`, find its
        associated `taskId`, restore the task, then delete the log entry.
      security:
        - sessionCookie: []
        - bearerAuth: []
      responses:
        "204":
          description: Task restored to active
        "404":
          $ref: "#/components/responses/NotFound"

  # ── Completed Log ─────────────────────────────────────────────────────────────

  /completed:
    get:
      tags: [completed]
      operationId: listCompleted
      summary: List completed task log entries
      description: Returns completed entries sorted by `completedAt` descending.
      security:
        - sessionCookie: []
        - bearerAuth: []
      parameters:
        - $ref: "#/components/parameters/LimitParam"
        - $ref: "#/components/parameters/OffsetParam"
        - name: date
          in: query
          schema:
            type: string
            format: date
          description: Filter to a specific calendar day (ISO 8601 date, e.g. `2026-05-17`)
      responses:
        "200":
          description: Paginated completed entry list
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaginatedCompleted"

  # ── People ───────────────────────────────────────────────────────────────────

  /people:
    get:
      tags: [people]
      operationId: listPeople
      summary: List all team members / assignees
      security:
        - sessionCookie: []
        - bearerAuth: []
      responses:
        "200":
          description: List of people
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Person"

    post:
      tags: [people]
      operationId: createPerson
      summary: Add a new team member
      security:
        - sessionCookie: []
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PersonCreate"
      responses:
        "201":
          description: Person created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Person"
        "422":
          $ref: "#/components/responses/ValidationError"

  /people/{id}:
    parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string

    patch:
      tags: [people]
      operationId: updatePerson
      summary: Update a team member's details
      security:
        - sessionCookie: []
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PersonPatch"
      responses:
        "200":
          description: Updated person
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Person"
        "404":
          $ref: "#/components/responses/NotFound"

    delete:
      tags: [people]
      operationId: deletePerson
      summary: Remove a team member
      description: |
        Deletes the person and clears `assignee_id` on any tasks that reference them.
      security:
        - sessionCookie: []
        - bearerAuth: []
      responses:
        "204":
          description: Person deleted
        "404":
          $ref: "#/components/responses/NotFound"

  # ── AI ───────────────────────────────────────────────────────────────────────

  /ai/classify:
    post:
      tags: [ai]
      operationId: classifyTasks
      summary: AI batch quadrant classification
      description: |
        Given a list of task IDs, returns a suggested `Quadrant` for each one.
        The client shows a review dialog; the user can override individual
        suggestions before applying. The server does NOT auto-apply — the client
        calls `PATCH /tasks/{id}` for each accepted suggestion.
      security:
        - sessionCookie: []
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [task_ids]
              properties:
                task_ids:
                  type: array
                  items:
                    type: string
                  description: IDs of tasks to classify (typically unclassified tasks)
      responses:
        "200":
          description: Suggested quadrant per task
          content:
            application/json:
              schema:
                type: object
                required: [suggestions]
                properties:
                  suggestions:
                    type: array
                    items:
                      $ref: "#/components/schemas/ClassifySuggestion"
        "422":
          $ref: "#/components/responses/ValidationError"

  /ai/recommend:
    post:
      tags: [ai]
      operationId: recommendTask
      summary: AI today task recommendation
      description: |
        Returns the single most-recommended task for the user to focus on today,
        along with a confidence score, a rationale, and counter-recommendations
        explaining what was deprioritized and why.
      security:
        - sessionCookie: []
        - bearerAuth: []
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                context:
                  type: string
                  description: Optional user-provided context ("I have 2 hours", "tired today")
      responses:
        "200":
          description: Task recommendation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RecommendResponse"

  /ai/parse:
    post:
      tags: [ai]
      operationId: parseNaturalLanguage
      summary: Parse a natural language task description into a structured Task
      description: |
        Accepts a free-form string (e.g. "Call dentist Friday 30 min Q1") and
        returns a structured `TaskCreate` object. The client presents this as a
        confirmation dialog before creating the task.
      security:
        - sessionCookie: []
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [text]
              properties:
                text:
                  type: string
                  description: Natural language task description
                locale:
                  type: string
                  enum: [en, zh]
                  default: en
                  description: Hint for language of the input text
      responses:
        "200":
          description: Parsed task fields
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ParseResponse"
        "422":
          $ref: "#/components/responses/ValidationError"

  # ── Focus Sessions ───────────────────────────────────────────────────────────

  /focus/sessions:
    post:
      tags: [focus]
      operationId: recordFocusSession
      summary: Record a completed Pomodoro focus session
      description: |
        Called when a Pomodoro timer completes (or is manually ended). Increments
        `pomos_done` on the associated task. The timer state itself is managed
        client-side; this endpoint only persists the completion event.
      security:
        - sessionCookie: []
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/FocusSessionCreate"
      responses:
        "200":
          description: Updated task with incremented `pomos_done`
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Task"
        "404":
          $ref: "#/components/responses/NotFound"

  # ── Settings ─────────────────────────────────────────────────────────────────

  /settings:
    get:
      tags: [settings]
      operationId: getSettings
      summary: Get the current user's app settings
      security:
        - sessionCookie: []
        - bearerAuth: []
      responses:
        "200":
          description: Settings object
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Settings"

    patch:
      tags: [settings]
      operationId: updateSettings
      summary: Update one or more settings fields
      security:
        - sessionCookie: []
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SettingsPatch"
      responses:
        "200":
          description: Updated settings
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Settings"
        "422":
          $ref: "#/components/responses/ValidationError"

# ─────────────────────────────────────────────────────────────────────────────
# Components
# ─────────────────────────────────────────────────────────────────────────────

components:

  securitySchemes:
    sessionCookie:
      type: apiKey
      in: cookie
      name: lumo_session
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  parameters:
    TaskId:
      name: id
      in: path
      required: true
      schema:
        type: string
      description: Task ID

    LimitParam:
      name: limit
      in: query
      schema:
        type: integer
        minimum: 1
        maximum: 200
        default: 50
      description: Maximum number of items to return

    OffsetParam:
      name: offset
      in: query
      schema:
        type: integer
        minimum: 0
        default: 0
      description: Number of items to skip (for pagination)

  responses:
    Unauthorized:
      description: Not authenticated
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"

    NotFound:
      description: Resource not found
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"

    ValidationError:
      description: Request validation failed
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"

  schemas:

    # ── Primitives ──────────────────────────────────────────────────────────────

    Quadrant:
      type: string
      enum: [Q1, Q2, Q3, Q4, unclassified]
      description: |
        Eisenhower matrix quadrant.
        - Q1: Urgent + Important
        - Q2: Important, not urgent
        - Q3: Urgent, not important
        - Q4: Neither
        - unclassified: Not yet assigned to a quadrant

    LocalizedString:
      type: object
      required: [en]
      properties:
        en:
          type: string
          description: English text (always present)
        zh:
          type: string
          description: Chinese (Simplified) text (optional)
      example:
        en: "Prepare Q3 presentation"
        zh: "准备Q3演示文稿"

    ErrorResponse:
      type: object
      required: [error]
      properties:
        error:
          type: string
          description: Human-readable error message
        code:
          type: string
          description: Machine-readable error code (optional)

    # ── User ────────────────────────────────────────────────────────────────────

    User:
      type: object
      required: [id, name, email, initials, local]
      properties:
        id:
          type: string
        name:
          type: string
        email:
          type: string
          format: email
        initials:
          type: string
          maxLength: 2
          description: 1–2 character initials for the avatar bubble
        local:
          type: boolean
          description: True for the local-only placeholder user (no cloud account)
        plan:
          type: string
          enum: [free, pro]
        renewsAt:
          type: string
          format: date
          description: Subscription renewal date (paid plans only)
        stats:
          type: object
          properties:
            tasks:
              type: integer
              description: Total tasks created lifetime
            pomodoros:
              type: integer
              description: Total Pomodoro sessions completed lifetime
            syncOK:
              type: boolean
              description: Whether the last cloud sync succeeded

    # ── Person ──────────────────────────────────────────────────────────────────

    Person:
      type: object
      required: [id, name, initials, color]
      properties:
        id:
          type: string
        name:
          type: string
        initials:
          type: string
          maxLength: 2
        color:
          type: string
          pattern: "^#[0-9a-fA-F]{6}$"
          description: Hex color for avatar background
        email:
          type: string
          format: email

    PersonCreate:
      type: object
      required: [name, initials, color]
      properties:
        name:
          type: string
        initials:
          type: string
          maxLength: 2
        color:
          type: string
          pattern: "^#[0-9a-fA-F]{6}$"
        email:
          type: string
          format: email

    PersonPatch:
      type: object
      properties:
        name:
          type: string
        initials:
          type: string
          maxLength: 2
        color:
          type: string
          pattern: "^#[0-9a-fA-F]{6}$"
        email:
          type: string
          format: email

    # ── Task ────────────────────────────────────────────────────────────────────

    Task:
      type: object
      required: [id, title, quadrant, today, duration, pomos_done, pomos_total]
      properties:
        id:
          type: string
        assignee_id:
          type: string
          description: References a Person.id
          nullable: true
        title:
          $ref: "#/components/schemas/LocalizedString"
        desc:
          $ref: "#/components/schemas/LocalizedString"
          nullable: true
        quadrant:
          $ref: "#/components/schemas/Quadrant"
        today:
          type: boolean
          description: Whether this task is in today's plan
        due:
          type: string
          format: date
          nullable: true
          description: |
            ISO 8601 date string (e.g. "2026-05-17"). Stored and returned as a
            date string in the real backend. The frontend display layer uses
            `getDueLabel()` to render human-friendly labels ("Today", "Fri", etc.)
            based on the user's locale.
        duration:
          type: integer
          minimum: 0
          description: Estimated duration in minutes
        pomos_done:
          type: integer
          minimum: 0
          description: Pomodoro sessions completed for this task
        pomos_total:
          type: integer
          minimum: 0
          description: Total Pomodoro sessions planned for this task
        conviction:
          type: number
          format: float
          minimum: 0
          maximum: 1
          description: AI confidence score (0–1) for Today recommendation
        next_step:
          $ref: "#/components/schemas/LocalizedString"
          nullable: true
          description: Lumo's suggested next action
        reason:
          $ref: "#/components/schemas/LocalizedString"
          nullable: true
          description: Why Lumo chose this task over others
        ai_suggest:
          $ref: "#/components/schemas/Quadrant"
          nullable: true
          description: AI suggested quadrant (relevant when quadrant is 'unclassified')
        completed:
          type: boolean
          default: false
        not_now:
          type: array
          items:
            type: object
            required: [id, reason]
            properties:
              id:
                type: string
              reason:
                $ref: "#/components/schemas/LocalizedString"
          description: Counter-recommendations (tasks Lumo deprioritized and why)

    TaskCreate:
      type: object
      required: [title, quadrant, today, duration, pomos_done, pomos_total]
      properties:
        assignee_id:
          type: string
          nullable: true
        title:
          $ref: "#/components/schemas/LocalizedString"
        desc:
          $ref: "#/components/schemas/LocalizedString"
        quadrant:
          $ref: "#/components/schemas/Quadrant"
        today:
          type: boolean
          default: false
        due:
          type: string
          nullable: true
        duration:
          type: integer
          minimum: 0
          default: 0
        pomos_done:
          type: integer
          minimum: 0
          default: 0
        pomos_total:
          type: integer
          minimum: 0
          default: 0
        next_step:
          $ref: "#/components/schemas/LocalizedString"

    TaskPatch:
      type: object
      description: Any subset of Task fields (all optional)
      properties:
        assignee_id:
          type: string
          nullable: true
        title:
          $ref: "#/components/schemas/LocalizedString"
        desc:
          $ref: "#/components/schemas/LocalizedString"
        quadrant:
          $ref: "#/components/schemas/Quadrant"
        today:
          type: boolean
        due:
          type: string
          nullable: true
        duration:
          type: integer
          minimum: 0
        pomos_done:
          type: integer
          minimum: 0
        pomos_total:
          type: integer
          minimum: 0
        next_step:
          $ref: "#/components/schemas/LocalizedString"
        ai_suggest:
          $ref: "#/components/schemas/Quadrant"

    PaginatedTasks:
      type: object
      required: [items, total]
      properties:
        items:
          type: array
          items:
            $ref: "#/components/schemas/Task"
        total:
          type: integer
          description: Total count without pagination (for building page controls)

    # ── Completed Entry ──────────────────────────────────────────────────────────

    CompletedEntry:
      type: object
      required: [id, title, duration]
      properties:
        id:
          type: string
          description: Log entry ID (not the same as the original task ID)
        taskId:
          type: string
          nullable: true
          description: Original task ID — used to restore the task on undo
        title:
          $ref: "#/components/schemas/LocalizedString"
        duration:
          type: integer
          description: Actual minutes spent (may differ from the task estimate)
        startedAt:
          type: string
          format: date-time
          description: ISO 8601 timestamp when the focus session started
        completedAt:
          type: string
          format: date-time
          description: ISO 8601 timestamp when the task was marked complete
        quadrant:
          $ref: "#/components/schemas/Quadrant"
          nullable: true
          description: Quadrant of the source task (for the timeline chip color)

    PaginatedCompleted:
      type: object
      required: [items, total]
      properties:
        items:
          type: array
          items:
            $ref: "#/components/schemas/CompletedEntry"
        total:
          type: integer

    # ── AI ───────────────────────────────────────────────────────────────────────

    ClassifySuggestion:
      type: object
      required: [task_id, quadrant, confidence]
      properties:
        task_id:
          type: string
        quadrant:
          $ref: "#/components/schemas/Quadrant"
        confidence:
          type: number
          format: float
          minimum: 0
          maximum: 1
          description: Model confidence for this suggestion
        reason:
          $ref: "#/components/schemas/LocalizedString"
          nullable: true
          description: One-sentence explanation of the suggested quadrant

    RecommendResponse:
      type: object
      required: [task]
      properties:
        task:
          $ref: "#/components/schemas/Task"
          description: The recommended task (with `conviction`, `next_step`, `reason` populated)
        not_now:
          type: array
          items:
            type: object
            required: [id, reason]
            properties:
              id:
                type: string
                description: Task ID that was deprioritized
              reason:
                $ref: "#/components/schemas/LocalizedString"

    ParseResponse:
      type: object
      required: [task, confidence]
      properties:
        task:
          $ref: "#/components/schemas/TaskCreate"
          description: Structured task fields parsed from the input text
        confidence:
          type: number
          format: float
          minimum: 0
          maximum: 1
          description: Parse confidence (show confirmation dialog when < 0.8)
        raw:
          type: string
          description: Echo of the original input text (for display in confirmation dialog)

    # ── Focus Session ─────────────────────────────────────────────────────────────

    FocusSessionCreate:
      type: object
      required: [task_id, duration_actual]
      properties:
        task_id:
          type: string
          description: ID of the task that was worked on
        duration_actual:
          type: integer
          description: Actual minutes worked in this session
        completed_at:
          type: string
          format: date-time
          description: ISO 8601 timestamp when the session ended (defaults to server time)
        increment_pomos:
          type: boolean
          default: true
          description: Whether to increment `pomos_done` on the task

    # ── Settings ──────────────────────────────────────────────────────────────────

    Settings:
      type: object
      required: [locale, accent, density, reduced_motion]
      properties:
        locale:
          type: string
          enum: [en, zh]
          description: Display language
        accent:
          type: string
          enum: [green, cyan, amber, graphite]
          description: App accent color theme
        density:
          type: string
          enum: [comfortable, compact]
          description: UI density
        reduced_motion:
          type: boolean
          description: Disable animations (accessibility)
        ai_enabled:
          type: boolean
          default: true
          description: Whether AI features (classify, recommend, parse) are enabled
        pomodoro_duration:
          type: integer
          minimum: 1
          maximum: 90
          default: 25
          description: Pomodoro work interval in minutes
        short_break:
          type: integer
          minimum: 1
          maximum: 30
          default: 5
          description: Short break duration in minutes
        long_break:
          type: integer
          minimum: 5
          maximum: 60
          default: 15
          description: Long break duration in minutes
        long_break_interval:
          type: integer
          minimum: 2
          maximum: 10
          default: 4
          description: Number of Pomodoros before a long break
        auto_start_breaks:
          type: boolean
          default: false
        notifications_enabled:
          type: boolean
          default: true
        onboarding_complete:
          type: boolean
          default: false
          description: Whether the user has completed the onboarding flow

    SettingsPatch:
      type: object
      description: Any subset of Settings fields
      properties:
        locale:
          type: string
          enum: [en, zh]
        accent:
          type: string
          enum: [green, cyan, amber, graphite]
        density:
          type: string
          enum: [comfortable, compact]
        reduced_motion:
          type: boolean
        ai_enabled:
          type: boolean
        pomodoro_duration:
          type: integer
          minimum: 1
          maximum: 90
        short_break:
          type: integer
          minimum: 1
          maximum: 30
        long_break:
          type: integer
          minimum: 5
          maximum: 60
        long_break_interval:
          type: integer
          minimum: 2
          maximum: 10
        auto_start_breaks:
          type: boolean
        notifications_enabled:
          type: boolean
        onboarding_complete:
          type: boolean
